body,td,th {
	color: #FFF;
}
body{ background-color:black;
      padding: 5px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img {
  border: 5px solid #2b2b2a;
}
h3 {
text-decoration: underline;
}
.navbar{
  border: 1px outset red;
  background-color: 	red;
  text-align: left;
}
img {
  width: 100%;
  height: auto;
}
p {
  width: auto;
  height: auto;
.dontreactimg{
	width: auto;
	height: auto;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color:  white;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
}
</style>
